@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Radley:ital@0;1&display=swap');

* {
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #D2D2D2;
    font-family: "Radley", serif;
}

header {
    background-color: #a81b5d;
    color: #fff;
    display: grid;
    grid-template-columns: 15% 70%  15% ;
    height: 70px;
}

.menu .menu-botao {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}

.menu-botao {
    padding: 15px 0 0 15px;
}

.menu {
    padding-top: 15px;
    padding-left: 15px;
}

.lista-rodape {
    display: flex;
    flex-wrap: wrap;
}

.menu .menu-linha {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
}

.menu .menu-linha span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    transition: all ease .2s;
}

.menu .menu-botao:checked~.menu-linha span {
    background-color: #ffffff;
}

.menu .menu-botao:checked~.menu-linha span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}

.menu .menu-botao:checked~.menu-linha span:nth-child(2) {
    opacity: 0;
}

.menu .menu-botao:checked~.menu-linha span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

.menu ul {
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 300px;
    padding: 0;
    padding-top: 100px;
    background-color: #8d194f;
    margin-left: -300px;
    padding-bottom: 20px;
    transition: all ease 0.2s;
    border-bottom-right-radius: 20px;
}

.menu .menu-botao:checked~ul {
    margin-left: 0;
}

.menu ul li {
    padding: 10px 30px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    transition: all ease .3s;
}

.menu ul li a:hover {
    color: #fff;
}

nav a {
    position: relative;
}

nav a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: ease-in-out .5s;
}

nav a:hover::after {
    width: 100%;
}

.logo img {
    left: 70px;
    width: 66px;
    height: 66px;
    padding: 10px;
}

.logo-texto {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.texto-logo {
    color: #ffffff;
    font-size: 50px;
    font-family: "Just Me Again Down Here", cursive;
}

.categorias {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.card {
    background-color: #ce9fb5;
    padding: 20px;
    margin: 20px;

}